html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 18px;
	background-color: #fff;
	color: #000;
	margin: 0;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: #00bef3;
	margin: 0;
	padding: 0;
}

a:hover {
	text-decoration: none;
}

.button {
	display: block;
	width: 93px;
	height: 33px;
	margin: 0 auto;	
	background-color: #00bef3;
	color: #fff;
	border: none;
	border-bottom: solid 1px #00bef3;
	border-radius: 5px;
	font-size: 14px;
	line-height: 33px;
}

.button:hover {
	cursor: pointer;
	background-color: #2ed1ff;
	border-bottom: solid 1px #139fc7;
}

.button[disabled] {
	background-color: rgba(4, 61, 82, 0.2);
	color: rgba(4, 61, 82, 0.5);
	border: none;
}

.button[disabled]:hover {
	cursor: default;
}

.content_wrap {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}

.main_content {
	height: calc(100% - 146px);
	position: relative;
	padding: 0;
	margin: 0;
}

.main_content>div {
	height: 100%;
	width: 50%;
	margin: 0;
}

.left_wrap {
	text-align: center;
	float: left;
	position: relative;
}

.right_wrap {
	text-align: center;
	float: right;
	position: relative;
}

.logo {
	position: absolute;
	width: 300px;
	top: calc(50% - 42px);
	left: calc(50% - 150px);
	animation: fade_in_right 2s ease-out;
}

.text {
	font-family: "RobotoLight", sans-serif;
	font-size: 36px;
	text-align: center;
	width: 396px;
	min-height: 66px;
	position: absolute;
	top: calc(50% - 33px);
	left: 50px;
}

.text span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.string1 {
	animation: fade_in_left 2s ease-out, fade_out 0.5s ease-out 2s forwards;
}

.string2 {
	animation: fade_in_up 1s ease-out 2.5s both, fade_out 0.5s ease-out 3.5s forwards;
}

.string3 {
	animation: fade_in_down 1s ease-out 4s both, fade_out 0.5s ease-out 5s forwards;
}

.string4 {
	animation: fade_in_up 1s ease-out 5.5s both, fade_out 0.5s ease-out 6.5s forwards;
}

.string5 {
	animation: fade_in_down 1s ease-out 7s both, fade_out 0.5s ease-out 8s forwards;
}

.browsers {
	position: absolute;
	top: calc(50% - 69px);
	left: 50px;	
	animation: fade_in_right 1s ease-out 8.5s both;
}

.browsers>div {
	display: inline-block;
	text-align: center;
	margin: 0 0 0 61px;
}

.browsers>div:first-child {
	margin-left: 0;
}

.browsers>div img {
	display: block;
	width: 56px;
	margin: 0 auto 27px;
}

.browsers>div button {
	display: block;
}

.browsers span {
	font-size: 11px;
	margin-top: 6px;
	color: rgba(4, 61, 82, 0.3);
	display: block;
}

.active span {	
	color: rgba(0, 190, 243, 0.5);
}

.footer_wrap {
	color: #273347;
	height: 146px;
}

footer {
	width: 100%;
	text-align: center;
	vertical-align: top;
}

footer span {
	display: block;
	margin-bottom: 10px;
}

.write_us {
	font-size: 16px;
}

.hidden {
	display: none;
}